.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  padding: 15px;
  border-radius: 10px;
  font-family: 'Roboto';
  margin-bottom: 20px;
}
.profile-image {
  width: 50px;
}
.person-name {
  color: #6366f1;
  font-size: 20px;
}
.profile-bio {
  color: #64748b;
  font-size: 12px;
}
.profile-loader-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-failure-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-retry-button {
  background-color: #4f46e5;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
}
